CLERK_SECRET_KEY=ENTER_YOUR_SECRET_KEY_HERE
R2_ACCOUNT_ID=ENTER_R2_ACCOUNT_ID_HERE
R2_API_TOKEN=ENTER_R2_API_TOKEN_HERE
R2_ACCESS_KEY_ID=ENTER_R2_ACCESS_KEY_ID_HERE
R2_SECRET_KEY=ENTER_R2_SECRET_KEY_HERE
R2_BUCKET_NAME=ENTER_R2_BUCKET_NAME_HERE
S3_API_ENDPOINT=ENTER_S3_API_ENDPOINT_HERE
